* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #e5989b;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  width: 100vw;
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 75vw;
}

@media screen and (max-width: 530px) {
nav,ul {
  flex-direction: column;
  align-items: center;
  }
}

.p-overview{
  width: 100vw;
  height: 50vh;
  background-image: url(https://images.unsplash.com/photo-1606293459339-aa5d34a7b0e1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODN8fGdhZGdldHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: 100% 100%;
  animation: overview 12s infinite linear;
}


@keyframes overview{
  0%{
    background-image: url(https://images.unsplash.com/photo-1606293459339-aa5d34a7b0e1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODN8fGdhZGdldHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  }
  25%{
    background-image: url(https://images.unsplash.com/photo-1574763791134-90a9eea2ec6b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODV8fGdhZGdldHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  }
  75%{
    background-image: url(https://images.unsplash.com/photo-1526775310031-fc50d81ce518?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTZ8fGdhZGdldHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  }
  100%{
    background-image: url(https://images.unsplash.com/photo-1572569979132-b4f10c9ec185?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTV8fGdhZGdldHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  }
}


.cards {
  width: 90vw;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
article figure {
  width: 300px;
}

article figure img {
  width: 100%;
  height: 100%;
}

figcaption {
  text-align: center;
}

article h3 {
  font-size: 1rem;
  color: #1d3557;
}

article button {
  padding: 5px 30px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

article {
  transition: all 0.2s;
  box-shadow: 0px 2px 3px rgba(104, 104, 104);
}

article:hover {
  transform: scale(1.02);
  cursor: pointer;
}
  

footer {
  background-color: #e5989b;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  width: 100vw;
}

p{
  color: white;
  
  font-size: 1rem;
}

li :hover{
  background-color: #fec89a;
  border-radius: 1rem;
}

.navbar :hover{
  background-color: #fec89a;
  border-radius: 1rem;
}

footer{
  padding-top: 2vh;
}
